# GTHA housing market database
# OSEMN methodology Step 1: Obtain
# Obtain Select DA-level Census Variables

---

This notebook describes _Step 1: Obtain_ of OSEMN methodology, the process of select DA-level Census variables.

---

For description of OSEMN methodology, see `methodology/0.osemn/osemn.pdf`.

## Import dependencies

In [1]:
import pandas as pd
import os
from time import time

In [4]:
data_path = '../../../data/census/taz_level_vars/'
os.listdir(data_path)

['taz_census_age_edu_employment.xlsx', 'taz_census_housing_monetaryvars.xlsx']

## Load geometry of GTHA Dissemination Areas (DAs)

In [5]:
t = time()
df = pd.read_excel(data_path + 'taz_census_age_edu_employment.xlsx.xls')
elapsed = time() - t
print("\n----- DataFrame loaded"
      "\nin {0:.2f} seconds".format(elapsed) + 
      "\nwith {0:,} rows\nand {1:,} columns"
      .format(df.shape[0], df.shape[1]) + 
      "\n-- Column names:\n", df.columns)

ImportError: Missing optional dependency 'xlrd'. Install xlrd >= 1.0.0 for Excel support Use pip or conda to install xlrd.

## Convert data to tidy format
Same variables are stored in several columns corresponding to different Census years, which violates one of the conditions of Tidy Data. To correct this, a new column `year` will be added to be used as a part of a **_primary key_** along with `dauid` for the `da_census_select` table in the database. DataFrame will be melted for each variable to be stored in a single column additionally referenced by the column `year`.

### Desired shape of the DataFrame
There are 30 unique variables for each Census year, 31 unique variables in total (variable `Self-emp` gets renamed to `Self_emp` in 2016 Census, to be corrected after melting).

In [5]:
mask1 = df.columns.str.contains('01')
cols = df.columns[mask1]
len(cols)

30

#### All Census variables in the original table

In [6]:
var_names = df.columns[df.columns.str.contains('\d')]
var_names = var_names.str.slice(stop=-2)
var_names = var_names.unique()
len(var_names)

31

In [7]:
var_names

Index(['Avg_HHsize', 'Avg_HHinc', 'Avg_own_payt', 'Avg_val_dwel', 'Avg_rent',
       'Pop', 'PopDens', 'Dwel', 'DwelDens', 'Sgl_det', 'Apt_5plus', 'Sgl_att',
       'Owned', 'Rented', 'CarTrVan_d', 'CarTrVan_p', 'PT', 'Walk', 'Bike',
       'Lbrfrc', 'Emp', 'Unemp', 'Not_lbrfrc', 'Employee', 'Self_emp',
       'At_home', 'No_fix_wkpl', 'Usl_wkpl', 'Blue_cljob', 'White_cljob',
       'Self-emp'],
      dtype='object')

There are four different Census years:

In [8]:
mask1 = df.columns.str.contains('Avg_HHsize')
cols = df.columns[mask1]
cols

Index(['Avg_HHsize16', 'Avg_HHsize11', 'Avg_HHsize06', 'Avg_HHsize01'], dtype='object')

There are 9'182 Dissemination Areas.

In [9]:
df.index.nunique()

9182

In [10]:
len(df)

9182

In [11]:
len(df) * 4

36728

That means, that after melting we should get a table with 9'182 x 4 = 36'728 rows and 32 columns (`DAUID`, `year`, and 31 columns with Census variables).

### Melt all the variables in the table

In [14]:
i = 0

for var_name in var_names:

    # select a subset of columns containing different years of a Census variable
    mask1 = df.columns.str.contains('{0}\d'.format(var_name))
    var_cols = df.columns[mask1]
    s = df[['DAUID'] + list(var_cols)]

    df_melt = pd.melt(s, id_vars='DAUID', value_name=var_name)
    df_melt['variable'] = '20' + df_melt['variable'].str.slice(-2)
    df_melt = df_melt.rename(columns={'variable': 'year'})
    df_melt['year'] = df_melt['year'].astype('int')
    if i  == 0:
        df_tidy = df_melt.sort_values('DAUID')
    else:
        df_tidy = pd.merge(df_tidy, df_melt, how='left', 
                           left_on=['DAUID', 'year'], right_on=['DAUID', 'year'])
    i += 1

df_tidy.sort_values(['DAUID', 'year'])

,DAUID,year,Avg_HHsize,Avg_HHinc,Avg_own_payt,Avg_val_dwel,Avg_rent,Pop,PopDens,Dwel,...,Unemp,Not_lbrfrc,Employee,Self_emp,At_home,No_fix_wkpl,Usl_wkpl,Blue_cljob,White_cljob,Self-emp
3,35180017,2001,2.945455,82963.090909,1079.181818,248639.000000,492.363636,883,14.267301,284.0,...,10.0,152.0,390.0,NaN,155.0,30.0,335.0,236.0,295.0,141.0
2,35180017,2006,2.958333,105432.416667,1336.583333,397211.500000,672.250000,843,13.620991,281.0,...,0.0,168.0,422.0,NaN,105.0,67.0,377.0,172.0,357.0,121.0
1,35180017,2011,2.841667,124624.250000,1565.750000,537326.583333,336.250000,871,14.073408,292.0,...,1.0,154.0,435.0,NaN,56.0,76.0,380.0,258.0,260.0,121.0
0,35180017,2016,2.900000,137158.000000,1764.000000,673145.000000,1224.000000,845,13.653306,290.0,...,20.0,170.0,440.0,130.0,100.0,80.0,380.0,225.0,350.0,NaN
6,35180018,2001,2.837500,72401.875000,1101.625000,230609.500000,654.875000,681,111.155307,241.0,...,25.0,103.0,330.0,NaN,39.0,20.0,310.0,103.0,310.0,74.0
5,35180018,2006,2.900000,85806.285714,1407.142857,370896.142857,740.857143,1265,206.477920,419.0,...,25.0,207.0,576.0,NaN,39.0,138.0,488.0,167.0,502.0,113.0
4,35180018,2011,2.800000,112465.714286,1544.857143,464213.571429,596.428571,1540,251.364424,507.0,...,44.0,251.0,793.0,NaN,84.0,103.0,680.0,163.0,685.0,103.0
7,35180018,2016,3.100000,131452.000000,1842.000000,592286.000000,1378.000000,1573,256.750805,510.0,...,90.0,295.0,850.0,130.0,135.0,90.0,685.0,235.0,765.0,NaN
9,35180019,2001,2.575000,67275.500000,1067.500000,212928.500000,611.500000,741,2828.825785,261.0,...,10.0,165.0,286.0,NaN,55.0,30.0,281.0,75.0,286.0,75.0
10,35180019,2006,2.675000,79505.500000,1393.250000,334109.000000,959.500000,728,2779.197263,271.0,...,15.0,201.0,322.0,NaN,30.0,50.0,281.0,120.0,266.0,55.0
11,35180019,2011,2.675000,103677.500000,1501.750000,402703.750000,1041.750000,713,2721.933583,271.0,...,20.0,201.0,347.0,NaN,15.0,60.0,297.0,70.0,257.0,40.0
8,35180019,2016,2.600000,118892.000000,1586.000000,549894.000000,937.000000,717,2737.203897,270.0,...,35.0,175.0,470.0,10.0,35.0,40.0,375.0,105.0,370.0,NaN
12,35180021,2001,2.520000,61111.200000,1000.400000,206382.800000,622.000000,533,2772.933179,215.0,...,10.0,120.0,289.0,NaN,30.0,15.0,265.0,90.0,235.0,25.0
13,35180021,2006,2.560000,78160.200000,1280.800000,332123.800000,967.000000,506,2632.465645,210.0,...,15.0,170.0,185.0,NaN,30.0,50.0,150.0,60.0,175.0,45.0
15,35180021,2011,2.480000,95946.800000,1403.600000,394185.200000,941.000000,499,2596.048136,210.0,...,30.0,165.0,210.0,NaN,25.0,25.0,175.0,25.0,105.0,35.0
14,35180021,2016,2.400000,82189.000000,1522.000000,445784.000000,1057.000000,517,2689.693159,215.0,...,10.0,140.0,270.0,20.0,0.0,55.0,225.0,65.0,215.0,NaN
16,35180022,2001,2.650000,62242.333333,1079.666667,226146.500000,555.166667,508,2395.447216,199.0,...,45.0,70.0,239.0,NaN,25.0,30.0,199.0,80.0,184.0,35.0
18,35180022,2006,2.560000,87839.000000,1273.800000,331612.200000,741.400000,482,2272.845587,199.0,...,10.0,95.0,279.0,NaN,10.0,60.0,234.0,100.0,204.0,20.0
19,35180022,2011,2.440000,88835.200000,1336.800000,394991.800000,839.000000,420,1980.487856,194.0,...,0.0,119.0,229.0,NaN,0.0,50.0,164.0,55.0,129.0,0.0
17,35180022,2016,2.200000,64669.000000,1361.000000,414742.000000,1016.000000,452,2131.382169,205.0,...,15.0,140.0,205.0,35.0,15.0,50.0,170.0,35.0,195.0,NaN
22,35180024,2001,3.183333,87562.666667,1260.333333,241264.000000,223.333333,608,1550.464781,174.0,...,10.0,132.0,272.0,NaN,20.0,11.0,272.0,26.0,267.0,46.0
21,35180024,2006,2.916667,91135.000000,1411.333333,359663.000000,200.333333,583,1486.712117,180.0,...,10.0,117.0,294.0,NaN,46.0,21.0,282.0,83.0,261.0,50.0
20,35180024,2011,2.783333,112192.166667,1392.000000,384485.833333,274.333333,558,1422.959453,180.0,...,26.0,83.0,350.0,NaN,26.0,46.0,298.0,81.0,278.0,41.0
23,35180024,2016,2.900000,121474.000000,1567.000000,566914.000000,0.000000,505,1287.803806,170.0,...,20.0,75.0,265.0,25.0,15.0,55.0,210.0,40.0,255.0,NaN
27,35180025,2001,2.900000,79431.000000,1186.666667,232839.000000,129.000000,521,2970.730468,207.0,...,0.0,123.0,246.0,NaN,49.0,54.0,192.0,89.0,202.0,49.0
26,35180025,2006,2.733333,91851.666667,1444.333333,338965.333333,156.000000,518,2953.624535,207.0,...,10.0,182.0,207.0,NaN,15.0,10.0,207.0,39.0,192.0,39.0
25,35180025,2011,2.666667,109640.000000,1290.000000,361328.333333,262.666667,525,2993.538380,212.0,...,0.0,148.0,281.0,NaN,20.0,25.0,256.0,79.0,182.0,30.0
24,35180025,2016,2.400000,90015.000000,1349.000000,407014.000000,0.000000,514,2930.816623,215.0,...,10.0,185.0,215.0,35.0,35.0,45.0,160.0,60.0,210.0,NaN
30,35180026,2001,2.928571,75459.857143,1159.000000,244524.000000,379.714286,792,477.801208,277.0,...,20.0,186.0,338.0,NaN,61.0,11.0,322.0,135.0,278.0,86.0
29,35180026,2006,2.742857,93914.000000,1351.285714,346975.714286,397.428571,845,509.775278,327.0,...,0.0,236.0,347.0,NaN,40.0,30.0,377.0,106.0,342.0,111.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36699,35251031,2011,3.800000,165102.000000,2014.000000,492400.000000,0.000000,280,3879.363342,73.0,...,10.0,63.0,140.0,NaN,13.0,0.0,131.0,21.0,100.0,8.0
36696,35251031,2016,3.800000,NaN,1440.000000,653979.000000,0.000000,285,3948.637688,75.0,...,10.0,75.0,110.0,10.0,10.0,10.0,90.0,45.0,105.0,NaN
36702,35251032,2001,3.000000,83578.000000,1235.000000,257798.000000,920.000000,27,267.881299,9.0,...,1.0,7.0,11.0,NaN,0.0,1.0,11.0,3.0,10.0,2.0
36700,35251032,2006,3.450000,114581.500000,1572.500000,400300.500000,276.000000,319,3164.967939,82.0,...,18.0,60.0,156.0,NaN,7.0,24.0,131.0,50.0,128.0,17.0
36703,35251032,2011,3.800000,165102.000000,2014.000000,492400.000000,0.000000,391,3879.318069,102.0,...,15.0,87.0,195.0,NaN,17.0,0.0,184.0,29.0,140.0,12.0
36701,35251032,2016,3.700000,189190.000000,1855.000000,842935.000000,0.000000,350,3472.535356,95.0,...,10.0,135.0,125.0,45.0,10.0,35.0,115.0,25.0,135.0,NaN
36705,35251033,2001,3.100000,86175.000000,1144.666667,238413.666667,306.666667,255,347.173883,83.0,...,13.0,61.0,108.0,NaN,5.0,10.0,103.0,29.0,97.0,15.0
36706,35251033,2006,3.066667,109064.000000,1440.333333,421827.000000,184.000000,321,437.030652,109.0,...,6.0,63.0,149.0,NaN,8.0,17.0,144.0,47.0,128.0,26.0
36704,35251033,2011,3.300000,129238.500000,1755.000000,462436.000000,713.500000,725,987.063000,227.0,...,17.0,176.0,307.0,NaN,27.0,36.0,294.0,106.0,257.0,65.0
36707,35251033,2016,2.700000,130157.000000,1674.000000,605966.000000,0.000000,822,1119.125222,295.0,...,10.0,220.0,310.0,65.0,45.0,40.0,285.0,80.0,295.0,NaN
36708,35251035,2001,2.950000,84694.000000,1089.000000,232114.500000,460.000000,46,269.957523,16.0,...,2.0,11.0,19.0,NaN,1.0,2.0,18.0,5.0,18.0,3.0
36709,35251035,2006,3.300000,104887.333333,1424.000000,370856.666667,491.000000,77,451.885420,26.0,...,1.0,16.0,35.0,NaN,2.0,4.0,34.0,10.0,30.0,6.0
36710,35251035,2011,3.200000,125604.000000,1776.000000,446128.000000,1427.000000,168,985.931825,53.0,...,4.0,41.0,71.0,NaN,6.0,8.0,68.0,25.0,60.0,15.0
36711,35251035,2016,2.700000,99576.000000,1652.000000,486131.000000,1934.000000,762,4471.905063,275.0,...,10.0,305.0,310.0,40.0,25.0,20.0,310.0,90.0,275.0,NaN
36715,35251036,2001,3.000000,83578.000000,1235.000000,257798.000000,920.000000,48,267.491034,16.0,...,3.0,12.0,20.0,NaN,1.0,2.0,19.0,5.0,18.0,3.0
36712,35251036,2006,2.900000,95881.000000,1495.000000,339467.000000,552.000000,77,429.100201,26.0,...,2.0,15.0,36.0,NaN,2.0,4.0,35.0,11.0,31.0,6.0
36713,35251036,2011,3.200000,125604.000000,1776.000000,446128.000000,1427.000000,177,986.373189,56.0,...,4.0,43.0,75.0,NaN,7.0,9.0,72.0,26.0,63.0,16.0
36714,35251036,2016,3.300000,116618.000000,2045.000000,506276.000000,0.000000,628,3499.674366,190.0,...,25.0,100.0,290.0,60.0,20.0,55.0,270.0,40.0,300.0,NaN
36717,35251037,2001,3.250000,92386.000000,1026.000000,234755.000000,230.000000,174,286.136477,57.0,...,9.0,44.0,74.0,NaN,4.0,7.0,70.0,19.0,68.0,11.0
36716,35251037,2006,3.166667,101015.666667,1333.666667,327430.333333,491.000000,273,448.938265,91.0,...,5.0,54.0,127.0,NaN,7.0,14.0,122.0,39.0,108.0,21.0
36719,35251037,2011,3.200000,125604.000000,1776.000000,446128.000000,1427.000000,601,988.321969,188.0,...,14.0,146.0,255.0,NaN,23.0,30.0,244.0,88.0,212.0,54.0
36718,35251037,2016,2.700000,175376.000000,1789.000000,628695.000000,1877.000000,716,1177.435157,270.0,...,40.0,210.0,300.0,65.0,65.0,15.0,245.0,60.0,295.0,NaN
36721,35251038,2001,2.950000,79649.000000,1022.000000,232849.500000,460.000000,202,265.900023,68.0,...,11.0,51.0,83.0,NaN,3.0,8.0,79.0,21.0,78.0,14.0
36720,35251038,2006,2.900000,100485.000000,1334.000000,429264.000000,276.000000,326,429.125780,111.0,...,7.0,64.0,152.0,NaN,9.0,18.0,147.0,48.0,130.0,26.0
36722,35251038,2011,3.200000,125604.000000,1776.000000,446128.000000,1427.000000,750,987.252560,235.0,...,18.0,182.0,318.0,NaN,28.0,37.0,304.0,110.0,265.0,67.0
36723,35251038,2016,3.500000,137275.000000,2196.000000,626247.000000,1721.000000,1976,2601.081412,560.0,...,60.0,295.0,915.0,205.0,100.0,135.0,815.0,260.0,870.0,NaN
36727,35251039,2001,3.200000,83715.250000,973.000000,224460.250000,444.250000,402,276.383033,133.0,...,21.0,100.0,165.0,NaN,6.0,16.0,159.0,43.0,154.0,26.0
36726,35251039,2006,3.150000,100682.000000,1352.250000,369772.000000,364.500000,645,443.450389,219.0,...,14.0,125.0,302.0,NaN,16.0,36.0,291.0,97.0,258.0,50.0
36724,35251039,2011,3.200000,125604.000000,1776.000000,446128.000000,1427.000000,1436,987.278695,451.0,...,34.0,348.0,609.0,NaN,54.0,71.0,583.0,210.0,508.0,128.0
36725,35251039,2016,3.500000,161570.000000,2206.000000,698845.000000,0.000000,1617,1111.719812,455.0,...,60.0,390.0,625.0,170.0,55.0,55.0,630.0,160.0,630.0,NaN

#### Assign values of `Self_emp` to `Self-emp`

In [15]:
mask1 = df_tidy['year'] == 2016
df_tidy.loc[mask1, 'Self_emp'].isnull().sum()

35

In [16]:
df_tidy.loc[~mask1, 'Self_emp'].isnull().sum()

27546

In [17]:
df_tidy.loc[~mask1, 'Self_emp'] = df_tidy.loc[~mask1, 'Self-emp']
df_tidy.loc[~mask1, 'Self_emp'].isnull().sum()

30

#### Drop column `Self-emp`

In [18]:
df_tidy = df_tidy.drop('Self-emp', axis=1)
df_tidy.columns

Index(['DAUID', 'year', 'Avg_HHsize', 'Avg_HHinc', 'Avg_own_payt',
       'Avg_val_dwel', 'Avg_rent', 'Pop', 'PopDens', 'Dwel', 'DwelDens',
       'Sgl_det', 'Apt_5plus', 'Sgl_att', 'Owned', 'Rented', 'CarTrVan_d',
       'CarTrVan_p', 'PT', 'Walk', 'Bike', 'Lbrfrc', 'Emp', 'Unemp',
       'Not_lbrfrc', 'Employee', 'Self_emp', 'At_home', 'No_fix_wkpl',
       'Usl_wkpl', 'Blue_cljob', 'White_cljob'],
      dtype='object')

#### Validate the shape of the melted DataFrame

In [19]:
df.shape

(9182, 124)

In [20]:
df_tidy.shape

(36728, 32)

## Save results to a .csv file

In [188]:
save_path = data_path + 'da_census_select_tidy.csv'
t = time()
df_tidy.sort_values(['DAUID', 'year']).to_csv(save_path, index=False)
elapsed = time() - t
print("DataFrame saved to file:\n", save_path,
      "\ntook {0:.2f} seconds".format(elapsed))

DataFrame saved to file:
 ../../../data/da_census/da_census_select_tidy.csv
took 1.81 seconds