# GTHA housing market database
# OSEMN methodology Step 1: Obtain
# Obtain Housing Monetary DA-level Census Variables

---

This notebook describes _Step 1: Obtain_ of OSEMN methodology, the process of select DA-level Census variables.

---

For description of OSEMN methodology, see `methodology/0.osemn/osemn.pdf`.

## Import dependencies

In [1]:
import pandas as pd
import os
from time import time

In [2]:
data_path = '../../../data/census/taz_level_vars/'
os.listdir(data_path)

['taz_census_housing_monetaryvars.xlsx',
 'taz_census_age_edu_employment.xlsx',
 'da_census_housing_monetary_tidy.csv',
 'taz_census_age_edu_employment_tidy.csv']

## Load geometry of GTHA Dissemination Areas (DAs)

In [3]:
t = time()
df = pd.read_excel(data_path + 'taz_census_housing_monetaryvars.xlsx')
elapsed = time() - t
print("\n----- DataFrame loaded"
      "\nin {0:.2f} seconds".format(elapsed) + 
      "\nwith {0:,} rows\nand {1:,} columns"
      .format(df.shape[0], df.shape[1]) + 
      "\n-- Column names:\n", df.columns)

----- DataFrame loaded
in 2.13 seconds
with 1,716 rows
and 125 columns
-- Column names:
 Index(['TAZ_O', 'Avg_own_payt16', 'Avg_own_paytinf16', 'Avg_val_dwel16',
       'Avg_val_dwelinf16', 'Avg_rent16', 'Avg_rentinf16', 'Avg_HHinc16',
       'Avg_HHincinf16', 'Med_HHincinf16',
       ...
       'Owned81', 'Rented81', 'Avg_HHinc71', 'Avg_HHincinf71', 'Dwel71',
       'Sgl_det71', 'Apt_5plus71', 'Sgl_att71', 'Owned71', 'Rented71'],
      dtype='object', length=125)

## Convert data to tidy format
Same variables are stored in several columns corresponding to different Census years, which violates one of the conditions of Tidy Data. To correct this, a new column `year` will be added to be used as a part of a **_primary key_** along with `dauid` for the `da_census_select` table in the database. DataFrame will be melted for each variable to be stored in a single column additionally referenced by the column `year`.

### Desired shape of the DataFrame
There are 15 unique variables for each Census year.

In [4]:
mask1 = df.columns.str.contains('01')
cols = df.columns[mask1]
len(cols)

15

#### All Census variables in the original table

In [5]:
var_names = df.columns[df.columns.str.contains('\d')]
var_names = var_names.str.slice(stop=-2)
var_names = var_names.unique()
len(var_names)

15

In [6]:
var_names

Index(['Avg_own_payt', 'Avg_own_paytinf', 'Avg_val_dwel', 'Avg_val_dwelinf',
       'Avg_rent', 'Avg_rentinf', 'Avg_HHinc', 'Avg_HHincinf', 'Med_HHincinf',
       'Dwel', 'Sgl_det', 'Apt_5plus', 'Sgl_att', 'Owned', 'Rented'],
      dtype='object')

There are four different Census years:

In [7]:
mask1 = df.columns.str.contains('Avg_own_paytinf')
cols = df.columns[mask1]
cols.sort_values()

Index(['Avg_own_paytinf01', 'Avg_own_paytinf06', 'Avg_own_paytinf11',
       'Avg_own_paytinf16', 'Avg_own_paytinf86', 'Avg_own_paytinf91',
       'Avg_own_paytinf96'],
      dtype='object')

In [8]:
mask1 = df.columns.str.contains('Avg_own_paytinf')
cols = df.columns[mask1]
cols.sort_values()

Index(['Avg_own_paytinf01', 'Avg_own_paytinf06', 'Avg_own_paytinf11',
       'Avg_own_paytinf16', 'Avg_own_paytinf86', 'Avg_own_paytinf91',
       'Avg_own_paytinf96'],
      dtype='object')

There are 9'182 Dissemination Areas.

In [9]:
df.index.nunique()

1716

In [10]:
len(df)

1716

In [11]:
len(df) * 9

15444

That means, that after melting we should get a table with 9'182 x 4 = 36'728 rows and 32 columns (`DAUID`, `year`, and 31 columns with Census variables).

### Melt all the variables in the table

In [12]:
i = 0

for var_name in var_names:

    # select a subset of columns containing different years of a Census variable
    mask1 = df.columns.str.contains('{0}\d'.format(var_name))
    var_cols = df.columns[mask1]
    s = df[['TAZ_O'] + list(var_cols)]

    df_melt = pd.melt(s, id_vars='TAZ_O', value_name=var_name)
    df_melt['variable'] = '20' + df_melt['variable'].str.slice(-2)
    df_melt = df_melt.rename(columns={'variable': 'year'})
    df_melt['year'] = df_melt['year'].astype('int')
    if i  == 0:
        df_tidy = df_melt.sort_values('TAZ_O')
    else:
        df_tidy = pd.merge(df_tidy, df_melt, how='left', 
                           left_on=['TAZ_O', 'year'], right_on=['TAZ_O', 'year'])
    i += 1

df_tidy.sort_values(['TAZ_O', 'year'])

,TAZ_O,year,Avg_own_payt,Avg_own_paytinf,Avg_val_dwel,Avg_val_dwelinf,Avg_rent,Avg_rentinf,Avg_HHinc,Avg_HHincinf,Med_HHincinf,Dwel,Sgl_det,Apt_5plus,Sgl_att,Owned,Rented
2,1,2001,1009.714286,1318.989771,230989.428571,301741.490543,793.785714,1036.922279,60338.500000,78820.182550,66281.102157,1851.0,609.0,298.0,964.0,982.0,877.0
4,1,2006,1210.785714,1428.121750,359926.785714,424533.643750,889.000000,1048.575500,67891.571429,80078.108500,63148.071000,1641.0,477.0,283.0,870.0,886.0,753.0
6,1,2011,1314.875000,1404.286500,443741.187500,473915.588250,931.437500,994.775250,79507.937500,84914.477250,64161.168000,1744.0,487.0,323.0,910.0,1032.0,720.0
0,1,2016,1675.812500,1675.812500,733765.875000,733765.875000,1080.437500,1080.437500,94044.500000,94044.500000,68736.000000,1891.0,496.0,462.0,935.0,961.0,909.0
1,1,2086,535.000000,1044.052500,101758.333333,198581.387500,492.000000,960.138000,33165.888889,64723.232167,67771.692000,914.0,334.0,147.0,436.0,389.0,530.0
5,1,2091,841.333333,1303.982533,229163.333333,355180.250333,742.222222,1150.370222,46928.888889,72735.084889,66278.373700,1233.0,423.0,281.0,527.0,677.0,553.0
3,1,2096,964.111111,1393.719022,211851.444444,306252.448089,724.222222,1046.935644,47880.222222,69215.649244,59774.114400,1257.0,380.0,281.0,595.0,676.0,581.0
8,2,2001,909.300000,1187.818590,235829.450000,308064.010535,665.450000,869.277335,70680.200000,92329.545260,82881.338620,2086.0,1589.0,62.0,421.0,1544.0,525.0
12,2,2006,1153.050000,1360.022475,350297.050000,413175.370475,705.600000,832.255200,78954.200000,93126.478900,80224.872000,2068.0,1338.0,81.0,665.0,1673.0,398.0
10,2,2011,1280.454545,1367.525455,479115.772727,511695.645273,713.954545,762.503455,82225.000000,87816.300000,76228.500000,2152.0,1402.0,84.0,671.0,1758.0,379.0
13,2,2016,1538.818182,1538.818182,660388.681818,660388.681818,883.772727,883.772727,103465.636364,103465.636364,87800.000000,2147.0,1387.0,76.0,685.0,1682.0,465.0
7,2,2086,448.000000,874.272000,97065.125000,189422.591437,604.000000,1178.706000,33369.937500,65121.433031,77166.213000,1575.0,1185.0,93.0,292.0,1251.0,327.0
11,2,2091,617.000000,956.288300,231897.400000,359417.780260,850.300000,1317.879970,52776.750000,81798.684825,73093.284000,2053.0,1519.0,13.0,505.0,1545.0,492.0
9,2,2096,769.050000,1111.738680,197584.050000,285627.502680,814.050000,1176.790680,55951.600000,80883.632960,70480.228000,2078.0,1494.0,144.0,464.0,1574.0,513.0
16,3,2001,900.470588,1176.284729,263134.235294,343732.251565,515.294118,673.128706,76870.882353,100416.433618,90097.585712,74.0,62.0,1.0,11.0,67.0,7.0
15,3,2006,1219.647059,1438.573706,380245.470588,448499.532559,712.823529,840.775353,87366.294118,103048.543912,89797.694000,74.0,59.0,2.0,14.0,70.0,6.0
17,3,2011,1319.062500,1408.758750,482054.687500,514834.406250,710.562500,758.880750,85444.687500,91254.926250,75221.376000,328.0,65.0,250.0,14.0,261.0,66.0
19,3,2016,1645.125000,1645.125000,682159.250000,682159.250000,880.187500,880.187500,111312.937500,111312.937500,89848.000000,584.0,8.0,569.0,6.0,385.0,203.0
18,3,2086,438.000000,854.757000,78427.250000,153050.778375,601.000000,1172.851500,26189.333333,51108.484000,79658.278500,96.0,65.0,0.0,30.0,64.0,33.0
14,3,2091,520.333333,806.464633,227304.000000,352298.469600,842.933333,1306.462373,55242.733333,85620.712393,83291.626000,91.0,90.0,0.0,3.0,81.0,10.0
20,3,2096,671.785714,971.133429,192586.571429,278403.147657,717.857143,1037.734286,57106.285714,82552.846629,76256.845600,97.0,88.0,0.0,8.0,86.0,10.0
25,4,2001,893.000000,1166.525900,242067.333333,316212.557533,595.666667,778.119367,64191.333333,83853.138733,77738.348433,173.0,18.0,144.0,11.0,99.0,73.0
22,4,2006,1201.333333,1416.972667,349720.666667,412495.526333,342.000000,403.389000,74330.666667,87673.021333,74812.146500,414.0,11.0,392.0,13.0,292.0,122.0
23,4,2011,1419.000000,1515.492000,428842.750000,458004.057000,973.250000,1039.431000,92255.250000,98528.607000,86057.304000,764.0,11.0,745.0,8.0,546.0,229.0
27,4,2016,1587.000000,1587.000000,551507.000000,551507.000000,1168.000000,1168.000000,102504.750000,102504.750000,84797.000000,963.0,2.0,948.0,12.0,639.0,308.0
26,4,2086,398.000000,776.697000,113399.333333,221298.799000,596.000000,1163.094000,35840.833333,69943.386250,76916.421000,297.0,261.0,21.0,15.0,238.0,58.0
24,4,2091,664.000000,1029.133600,259002.333333,401427.716433,918.333333,1423.324833,55594.000000,86165.140600,77023.830400,112.0,110.0,0.0,4.0,99.0,12.0
21,4,2096,523.000000,756.048800,158120.000000,228578.272000,790.000000,1142.024000,44757.250000,64701.080600,71628.034400,119.0,107.0,0.0,10.0,104.0,13.0
33,5,2001,914.733333,1194.916153,222921.866667,291202.834427,791.400000,1033.805820,61280.333333,80050.499433,71362.733567,145.0,22.0,112.0,9.0,85.0,60.0
31,5,2006,1260.333333,1486.563167,324696.266667,382979.246533,884.800000,1043.621600,70771.266667,83474.709033,74950.148000,331.0,16.0,302.0,12.0,233.0,97.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11983,2666,2091,941.000000,1458.455900,187001.000000,289832.849900,552.111111,855.717011,50763.222222,78677.918122,77543.046900,605.0,227.0,5.0,369.0,311.0,284.0
11979,2666,2096,857.000000,1238.879200,166643.700000,240900.132720,613.400000,886.731040,53974.900000,78026.115440,65465.441600,702.0,350.0,36.0,312.0,410.0,291.0
11990,2667,2001,1162.142857,1518.107214,191105.000000,249640.461500,398.071429,520.000707,73664.285714,96227.656429,93209.636893,1483.0,1058.0,4.0,411.0,1157.0,319.0
11987,2667,2006,1373.714286,1620.296000,276228.642857,325811.684250,416.071429,490.756250,89002.571429,104978.533000,97701.523500,1672.0,1196.0,0.0,477.0,1384.0,274.0
11986,2667,2011,1327.761905,1418.049714,307879.333333,328815.128000,486.809524,519.912571,89612.157895,95705.784632,85391.940000,1591.0,1044.0,35.0,512.0,1242.0,351.0
11984,2667,2016,1456.000000,1456.000000,426412.809524,426412.809524,531.523810,531.523810,99539.250000,99539.250000,88464.000000,1575.0,1053.0,0.0,528.0,1213.0,368.0
11988,2667,2086,599.000000,1168.948500,103528.600000,202036.062900,539.000000,1051.858500,41383.200000,80759.314800,77814.111000,182.0,166.0,0.0,17.0,145.0,38.0
11989,2667,2091,982.727273,1523.129000,199158.000000,308674.984200,645.727273,1000.812700,48485.727273,75148.028700,69083.692700,841.0,681.0,0.0,162.0,714.0,123.0
11985,2667,2096,1055.000000,1525.108000,155745.692308,225145.972800,646.461538,934.524800,50558.538462,73087.423200,78786.645600,1290.0,813.0,10.0,465.0,894.0,401.0
11991,2668,2001,1025.000000,1338.957500,174210.583333,227571.285008,310.333333,405.388433,67652.166667,88374.025317,80569.753683,809.0,591.0,26.0,191.0,573.0,225.0
11994,2668,2006,1143.083333,1348.266792,252769.500000,298141.625250,399.833333,471.603417,82304.500000,97078.157750,93245.372500,873.0,607.0,25.0,229.0,629.0,238.0
11996,2668,2011,1247.555556,1332.389333,291358.722222,311171.115333,358.777778,383.174667,83970.222222,89680.197333,81003.528000,876.0,615.0,22.0,231.0,658.0,205.0
11995,2668,2016,1321.500000,1321.500000,389759.722222,389759.722222,545.333333,545.333333,94979.176471,94979.176471,81518.000000,853.0,611.0,22.0,224.0,644.0,183.0
11997,2668,2086,540.000000,1053.810000,92552.666667,180616.529000,501.000000,977.701500,40457.833333,78953.461750,68288.839500,331.0,193.0,0.0,139.0,270.0,61.0
11993,2668,2091,1099.833333,1704.631683,202387.666667,313680.644567,506.833333,785.540983,53324.833333,82648.159183,84198.317500,785.0,560.0,3.0,215.0,564.0,219.0
11992,2668,2096,939.166667,1357.659333,183489.333333,265252.180267,470.500000,680.154800,55627.833333,80415.595867,63628.084000,792.0,551.0,5.0,232.0,567.0,225.0
12002,2669,2001,1056.200000,1379.714060,172555.600000,225409.380280,556.866667,727.434927,73365.600000,95837.483280,90914.822360,1179.0,832.0,0.0,337.0,1032.0,151.0
11998,2669,2006,1218.250000,1436.925875,261819.937500,308816.616281,636.187500,750.383156,81175.375000,95746.354812,87387.975500,1396.0,951.0,0.0,449.0,1242.0,147.0
12001,2669,2011,1337.117647,1428.041647,282985.000000,302227.980000,374.764706,400.248706,88828.647059,94868.995059,95132.100000,1632.0,1083.0,5.0,541.0,1385.0,149.0
12004,2669,2016,1421.294118,1421.294118,389489.882353,389489.882353,577.058824,577.058824,102296.470588,102296.470588,92028.000000,1739.0,1192.0,0.0,544.0,1514.0,219.0
12003,2669,2086,599.000000,1168.948500,96355.800000,188038.343700,548.000000,1069.422000,40528.600000,79091.562900,73407.624000,228.0,188.0,0.0,38.0,192.0,36.0
11999,2669,2091,1046.100000,1621.350390,192103.000000,297740.439700,737.600000,1143.206240,50204.400000,77811.799560,74184.413600,687.0,490.0,0.0,200.0,525.0,168.0
12000,2669,2096,1009.909091,1459.924582,155157.272727,224295.353455,691.090909,999.041018,54742.636364,79135.955127,80005.286400,1007.0,672.0,0.0,319.0,786.0,218.0
12010,2670,2001,1063.750000,1389.576625,164012.250000,214249.202175,838.000000,1094.679400,67407.750000,88054.743825,75914.971350,140.0,82.0,0.0,60.0,101.0,42.0
12007,2670,2006,1183.000000,1395.348500,285438.250000,336674.415875,924.250000,1090.152875,70959.500000,83696.730250,75202.561000,202.0,111.0,0.0,91.0,144.0,56.0
12009,2670,2011,1242.142857,1326.608571,266488.857143,284610.099429,467.428571,499.213714,84010.166667,89722.858000,82428.240000,74.0,60.0,0.0,16.0,72.0,0.0
12006,2670,2016,1357.000000,1357.000000,387204.285714,387204.285714,629.714286,629.714286,97494.714286,97494.714286,83054.000000,82.0,68.0,0.0,13.0,74.0,7.0
12011,2670,2086,574.000000,1120.161000,89019.500000,173721.554250,522.000000,1018.683000,38108.000000,74367.762000,75158.119500,299.0,142.0,0.0,157.0,235.0,61.0
12005,2670,2091,1001.750000,1552.612325,175810.750000,272489.081425,616.500000,955.513350,37233.250000,57707.814175,54170.554900,50.0,35.0,0.0,15.0,29.0,21.0
12008,2670,2096,1012.000000,1462.947200,155967.250000,225466.256600,735.750000,1063.600200,53447.000000,77262.983200,78374.649600,192.0,113.0,0.0,80.0,125.0,69.0

#### Validate the shape of the melted DataFrame

In [13]:
df.shape

(1716, 125)

In [14]:
df_tidy.shape

(12012, 17)

## Save results to a .csv file

In [15]:
save_path = data_path + 'taz_census_housing_monetary_tidy.csv'
t = time()
df_tidy.sort_values(['TAZ_O', 'year']).to_csv(save_path, index=False)
elapsed = time() - t
print("DataFrame saved to file:\n", save_path,
      "\ntook {0:.2f} seconds".format(elapsed))

DataFrame saved to file:
 ../../../data/census/taz_level_vars/taz_census_housing_monetary_tidy.csv
took 0.24 seconds