# GTHA housing market database
# OSEMN methodology Step 1: Obtain
# Obtain Housing Monetary DA-level Census Variables

---

This notebook describes _Step 1: Obtain_ of OSEMN methodology, the process of select DA-level Census variables.

---

For description of OSEMN methodology, see `methodology/0.osemn/osemn.pdf`.

## Import dependencies

In [1]:
import pandas as pd
import os
from time import time

In [2]:
data_path = '../../../data/census/taz_level_vars/'
os.listdir(data_path)

['taz_census_housing_monetaryvars.xlsx',
 'taz_census_age_edu_employment.xlsx',
 'da_census_housing_monetary_tidy.csv']

## Load geometry of GTHA Dissemination Areas (DAs)

In [3]:
t = time()
df = pd.read_excel(data_path + 'taz_census_age_edu_employment.xlsx')
elapsed = time() - t
print("\n----- DataFrame loaded"
      "\nin {0:.2f} seconds".format(elapsed) + 
      "\nwith {0:,} rows\nand {1:,} columns"
      .format(df.shape[0], df.shape[1]) + 
      "\n-- Column names:\n", df.columns)

----- DataFrame loaded
in 4.16 seconds
with 1,716 rows
and 252 columns
-- Column names:
 Index(['TAZ_O', 'Pop16', 'Pop_15pl16', 'Akid16', 'Ayad16', 'Amid16', 'Asen16',
       'Hi_sch16', 'Posec_dip16', 'Posec_deg16',
       ...
       'Agri71', 'Min71', 'Manu71', 'Cons71', 'Trans71', 'Trad71', 'Fin71',
       'Com71', 'Gov71', 'Oth71'],
      dtype='object', length=252)

## Convert data to tidy format
Same variables are stored in several columns corresponding to different Census years, which violates one of the conditions of Tidy Data. To correct this, a new column `year` will be added to be used as a part of a **_primary key_** along with `dauid` for the `da_census_select` table in the database. DataFrame will be melted for each variable to be stored in a single column additionally referenced by the column `year`.

### Desired shape of the DataFrame
There are 15 unique variables for each Census year.

In [4]:
mask1 = df.columns.str.contains('01')
cols = df.columns[mask1]
len(cols)

31

#### All Census variables in the original table

In [5]:
var_names = df.columns[df.columns.str.contains('\d')]
var_names = var_names.str.slice(stop=-2)
var_names = var_names.unique()
len(var_names)

33

In [6]:
var_names

Index(['Pop', 'Pop_15pl', 'Akid', 'Ayad', 'Amid', 'Asen', 'Hi_sch',
       'Posec_dip', 'Posec_deg', 'Avg_HHsize', 'Lbrfrc', 'Emp', 'Unemp',
       'Employee', 'Self_emp', 'WfH', 'No_fix_wkpl', 'Usl_wkpl', 'WrkCSD_res',
       'WrkCSD_diff', 'Agri', 'Min', 'Manu', 'Cons', 'Tran', 'Trad', 'Fin',
       'Com', 'Busi', 'Gov', 'Oth', 'Trans', 'pop'],
      dtype='object')

There are four different Census years:

In [9]:
mask1 = df.columns.str.contains('Pop_15pl')
cols = df.columns[mask1]
cols.sort_values()

Index(['Pop_15pl01', 'Pop_15pl06', 'Pop_15pl11', 'Pop_15pl16', 'Pop_15pl71',
       'Pop_15pl81', 'Pop_15pl86', 'Pop_15pl91', 'Pop_15pl96'],
      dtype='object')

There are 9'182 Dissemination Areas.

In [10]:
df.index.nunique()

1716

In [11]:
len(df)

1716

In [12]:
len(df) * 9

15444

That means, that after melting we should get a table with 9'182 x 4 = 36'728 rows and 32 columns (`DAUID`, `year`, and 31 columns with Census variables).

### Melt all the variables in the table

In [13]:
i = 0

for var_name in var_names:

    # select a subset of columns containing different years of a Census variable
    mask1 = df.columns.str.contains('{0}\d'.format(var_name))
    var_cols = df.columns[mask1]
    s = df[['TAZ_O'] + list(var_cols)]

    df_melt = pd.melt(s, id_vars='TAZ_O', value_name=var_name)
    df_melt['variable'] = '20' + df_melt['variable'].str.slice(-2)
    df_melt = df_melt.rename(columns={'variable': 'year'})
    df_melt['year'] = df_melt['year'].astype('int')
    if i  == 0:
        df_tidy = df_melt.sort_values('TAZ_O')
    else:
        df_tidy = pd.merge(df_tidy, df_melt, how='left', 
                           left_on=['TAZ_O', 'year'], right_on=['TAZ_O', 'year'])
    i += 1

df_tidy.sort_values(['TAZ_O', 'year'])

,TAZ_O,year,Pop,Pop_15pl,Akid,Ayad,Amid,Asen,Hi_sch,Posec_dip,...,Cons,Tran,Trad,Fin,Com,Busi,Gov,Oth,Trans,pop
2,1,2001,4159,3316.0,659.0,685.0,2312.0,520.0,505.0,915.0,...,116.0,NaN,437.0,295.0,727.0,336.0,196.0,110.0,176.0,NaN
7,1,2006,3842,3007.0,480.0,600.0,1945.0,445.0,757.0,905.0,...,117.0,NaN,310.0,236.0,720.0,309.0,137.0,85.0,127.0,NaN
1,1,2011,3984,3157.0,479.0,603.0,1998.0,531.0,711.0,886.0,...,150.0,NaN,351.0,102.0,381.0,222.0,125.0,30.0,80.0,NaN
0,1,2016,4228,3355.0,492.0,662.0,2142.0,620.0,934.0,929.0,...,145.0,175.0,394.0,188.0,868.0,355.0,192.0,132.0,NaN,NaN
8,1,2071,4278,3285.0,NaN,NaN,NaN,NaN,3116.0,48.0,...,102.0,NaN,491.0,123.0,455.0,NaN,97.0,181.0,239.0,NaN
6,1,2076,4001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1,2081,4009,2243.0,NaN,NaN,NaN,NaN,286.0,439.0,...,87.0,NaN,222.0,138.0,356.0,NaN,61.0,36.0,181.0,NaN
4,1,2086,3402,1781.0,318.0,799.0,797.0,252.0,241.0,622.0,...,52.0,NaN,271.0,73.0,264.0,73.0,34.0,80.0,143.0,NaN
3,1,2091,4243,2437.0,656.0,1019.0,2212.0,473.0,370.0,593.0,...,70.0,NaN,295.0,179.0,334.0,109.0,119.0,85.0,208.0,NaN
9,2,2001,5545,4346.0,909.0,911.0,2739.0,979.0,660.0,1329.0,...,226.0,NaN,543.0,286.0,752.0,390.0,266.0,213.0,203.0,NaN
14,2,2006,5328,4508.0,781.0,908.0,2727.0,914.0,1323.0,1345.0,...,173.0,NaN,548.0,256.0,731.0,389.0,259.0,130.0,361.0,NaN
13,2,2011,5563,4717.0,798.0,921.0,2945.0,858.0,1215.0,1445.0,...,156.0,NaN,474.0,213.0,710.0,307.0,133.0,90.0,122.0,NaN
17,2,2016,5647,4725.0,901.0,880.0,2983.0,882.0,1309.0,1421.0,...,321.0,196.0,512.0,227.0,1176.0,520.0,332.0,129.0,NaN,NaN
11,2,2071,5608,4141.0,NaN,NaN,NaN,NaN,4000.0,52.0,...,221.0,NaN,652.0,107.0,588.0,NaN,202.0,183.0,321.0,NaN
15,2,2076,4739,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2,2081,4395,3694.0,NaN,NaN,NaN,NaN,492.0,750.0,...,150.0,NaN,419.0,135.0,505.0,NaN,133.0,43.0,273.0,NaN
12,2,2086,4408,3714.0,667.0,1384.0,1746.0,640.0,516.0,1114.0,...,135.0,NaN,521.0,139.0,378.0,91.0,91.0,130.0,283.0,NaN
16,2,2091,5471,4603.0,1259.0,1655.0,3802.0,1375.0,615.0,1013.0,...,170.0,NaN,525.0,199.0,719.0,205.0,120.0,179.0,284.0,NaN
22,3,2001,313,172.0,33.0,38.0,108.0,140.0,27.0,48.0,...,7.0,NaN,18.0,8.0,31.0,11.0,10.0,4.0,17.0,NaN
25,3,2006,289,183.0,29.0,36.0,101.0,123.0,53.0,71.0,...,9.0,NaN,9.0,12.0,26.0,8.0,10.0,7.0,1.0,NaN
21,3,2011,680,564.0,54.0,138.0,342.0,143.0,104.0,191.0,...,11.0,NaN,69.0,77.0,116.0,64.0,53.0,7.0,25.0,NaN
24,3,2016,1061,895.0,89.0,204.0,606.0,166.0,182.0,270.0,...,52.0,48.0,132.0,85.0,267.0,140.0,62.0,10.0,NaN,NaN
19,3,2071,1081,494.0,NaN,NaN,NaN,NaN,452.0,9.0,...,19.0,NaN,76.0,25.0,84.0,NaN,19.0,18.0,38.0,NaN
26,3,2076,717,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,3,2081,565,457.0,NaN,NaN,NaN,NaN,59.0,85.0,...,20.0,NaN,43.0,15.0,53.0,NaN,16.0,14.0,11.0,NaN
20,3,2086,376,225.0,40.0,93.0,113.0,118.0,16.0,92.0,...,3.0,NaN,29.0,2.0,40.0,1.0,9.0,6.0,22.0,NaN
18,3,2091,376,216.0,42.0,69.0,169.0,245.0,37.0,49.0,...,5.0,NaN,27.0,12.0,21.0,8.0,10.0,8.0,10.0,NaN
28,4,2001,329,297.0,25.0,72.0,185.0,54.0,35.0,68.0,...,1.0,NaN,41.0,33.0,69.0,25.0,16.0,17.0,17.0,NaN
34,4,2006,764,703.0,52.0,178.0,441.0,86.0,161.0,168.0,...,16.0,NaN,91.0,64.0,192.0,110.0,33.0,13.0,44.0,NaN
33,4,2011,1424,1260.0,115.0,322.0,843.0,144.0,221.0,379.0,...,25.0,NaN,151.0,160.0,311.0,154.0,104.0,50.0,62.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15416,2667,2081,549,480.0,NaN,NaN,NaN,NaN,62.0,133.0,...,37.0,NaN,77.0,13.0,77.0,NaN,7.0,6.0,8.0,NaN
15414,2667,2086,558,495.0,107.0,176.0,201.0,70.0,66.0,186.0,...,20.0,NaN,39.0,11.0,100.0,15.0,1.0,22.0,13.0,NaN
15409,2667,2091,2935,2016.0,1385.0,899.0,1963.0,107.0,312.0,520.0,...,150.0,NaN,266.0,106.0,457.0,41.0,89.0,110.0,70.0,NaN
15420,2668,2001,2849,1776.0,692.0,621.0,1349.0,131.0,329.0,626.0,...,65.0,NaN,297.0,112.0,464.0,112.0,204.0,76.0,77.0,NaN
15422,2668,2006,2967,2410.0,567.0,701.0,1373.0,326.0,650.0,883.0,...,85.0,NaN,274.0,73.0,518.0,151.0,184.0,62.0,122.0,NaN
15418,2668,2011,2904,2360.0,447.0,744.0,1356.0,364.0,686.0,730.0,...,52.0,NaN,195.0,67.0,546.0,71.0,116.0,33.0,59.0,NaN
15425,2668,2016,2787,2222.0,431.0,622.0,1244.0,475.0,675.0,786.0,...,74.0,30.0,203.0,80.0,575.0,131.0,145.0,60.0,NaN,NaN
15424,2668,2071,264,86.0,NaN,NaN,NaN,NaN,83.0,2.0,...,6.0,NaN,15.0,2.0,18.0,NaN,3.0,5.0,3.0,NaN
15419,2668,2076,445,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15417,2668,2081,961,684.0,NaN,NaN,NaN,NaN,104.0,154.0,...,32.0,NaN,71.0,26.0,122.0,NaN,27.0,9.0,29.0,NaN
15423,2668,2086,1153,743.0,350.0,407.0,363.0,31.0,155.0,244.0,...,37.0,NaN,73.0,43.0,112.0,26.0,33.0,31.0,28.0,NaN
15421,2668,2091,2868,1929.0,1399.0,873.0,1890.0,79.0,310.0,490.0,...,79.0,NaN,288.0,88.0,432.0,84.0,73.0,81.0,100.0,NaN
15426,2669,2001,3810,2549.0,980.0,772.0,1844.0,223.0,314.0,936.0,...,116.0,NaN,401.0,109.0,663.0,150.0,141.0,82.0,91.0,NaN
15434,2669,2006,4492,3422.0,1043.0,913.0,2206.0,346.0,924.0,1239.0,...,128.0,NaN,431.0,136.0,806.0,133.0,201.0,118.0,148.0,NaN
15431,2669,2011,5184,4022.0,1096.0,1074.0,2541.0,428.0,1095.0,1525.0,...,50.0,NaN,407.0,107.0,892.0,93.0,97.0,112.0,36.0,NaN
15432,2669,2016,5604,4510.0,1114.0,1183.0,2699.0,627.0,1238.0,1474.0,...,152.0,158.0,592.0,179.0,1136.0,252.0,245.0,127.0,NaN,NaN
15428,2669,2071,353,136.0,NaN,NaN,NaN,NaN,131.0,3.0,...,11.0,NaN,25.0,4.0,30.0,NaN,4.0,9.0,6.0,NaN
15427,2669,2076,452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15430,2669,2081,532,342.0,NaN,NaN,NaN,NaN,62.0,78.0,...,20.0,NaN,36.0,20.0,66.0,NaN,15.0,5.0,11.0,NaN
15433,2669,2086,780,553.0,217.0,269.0,264.0,31.0,72.0,196.0,...,41.0,NaN,69.0,13.0,91.0,16.0,22.0,13.0,28.0,NaN
15429,2669,2091,2280,1599.0,988.0,743.0,1511.0,166.0,239.0,464.0,...,96.0,NaN,186.0,83.0,310.0,45.0,105.0,52.0,35.0,NaN
15439,2670,2001,434,283.0,126.0,74.0,205.0,25.0,43.0,120.0,...,13.0,NaN,28.0,20.0,84.0,22.0,19.0,17.0,8.0,NaN
15437,2670,2006,604,469.0,129.0,124.0,301.0,49.0,115.0,177.0,...,35.0,NaN,59.0,16.0,125.0,28.0,15.0,20.0,31.0,NaN
15442,2670,2011,236,178.0,43.0,55.0,121.0,16.0,49.0,47.0,...,0.0,NaN,12.0,0.0,43.0,4.0,8.0,0.0,0.0,NaN
15441,2670,2016,263,218.0,50.0,59.0,135.0,14.0,70.0,70.0,...,12.0,8.0,24.0,11.0,63.0,13.0,9.0,9.0,NaN,NaN
15443,2670,2071,177,137.0,NaN,NaN,NaN,NaN,132.0,3.0,...,11.0,NaN,25.0,4.0,30.0,NaN,4.0,9.0,6.0,NaN
15435,2670,2076,422,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15440,2670,2081,990,650.0,NaN,NaN,NaN,NaN,103.0,154.0,...,40.0,NaN,69.0,13.0,117.0,NaN,14.0,10.0,25.0,NaN
15438,2670,2086,1089,747.0,340.0,385.0,347.0,18.0,150.0,219.0,...,26.0,NaN,79.0,26.0,128.0,22.0,24.0,22.0,40.0,NaN
15436,2670,2091,162,124.0,77.0,58.0,93.0,10.0,15.0,27.0,...,6.0,NaN,17.0,0.0,10.0,3.0,3.0,3.0,9.0,NaN

#### Validate the shape of the melted DataFrame

In [14]:
df.shape

(1716, 252)

In [15]:
df_tidy.shape

(15444, 35)

## Save results to a .csv file

In [16]:
save_path = data_path + 'taz_census_age_edu_employment_tidy.csv'
t = time()
df_tidy.sort_values(['TAZ_O', 'year']).to_csv(save_path, index=False)
elapsed = time() - t
print("DataFrame saved to file:\n", save_path,
      "\ntook {0:.2f} seconds".format(elapsed))

DataFrame saved to file:
 ../../../data/census/taz_level_vars/taz_census_age_edu_employment_tidy.csv
took 0.45 seconds