# GTHA housing market database
# OSEMN methodology Step 1: Obtain
# Obtain parcel-level land use

---

This notebook describes _Step 1: Obtain_ of OSEMN methodology, the process of obtaining parcel-level land use info.

---

For description of OSEMN methodology, see `methodology/0.osemn/osemn.pdf`.

## Import dependencies

In [16]:
import pandas as pd
import geopandas as gpd
import os
from time import time

In [17]:
data_path = '../../data/'
gta_lu_path = data_path + 'teranet/ParcelLandUse/GTA/'
os.listdir(gta_lu_path)

['GTA_land_use_code.txt',
 'GTAparcel16LU12.shx',
 'with_epoi',
 'GTAparcel16LU12.prj',
 'GTAparcel16LU12.cpg',
 'GTAparcel16LU12.shp',
 'GTAparcel16LU12.dbf']

In [18]:
ham_lu_path = data_path + 'teranet/ParcelLandUse/Halmilton/'
os.listdir(ham_lu_path)

['Hparcel16LU10.prj',
 'Halmilton_Land_Use_Codes_2009_Original.pdf',
 'with_epoi',
 'HalLanduse_converted.csv',
 'Hparcel16LU10.cpg',
 'Hparcel16LU10.shp',
 'Hparcel16LU10.dbf',
 'Hparcel16LU10.shx']

## Load geometry of land use

In [19]:
t = time()
lu_gta_gdf = gpd.read_file(gta_lu_path + 'GTAparcel16LU12.shp')
elapsed = time() - t

print("----- GeoDataFrame loaded"
      "\nin {0:.2f} seconds ({1:.2f} minutes)".format(elapsed, elapsed / 60) + 
      "\nwith {0:,} rows\nand {1:,} columns"
      .format(lu_gta_gdf.shape[0], lu_gta_gdf.shape[1]) + 
      "\n-- Column names:\n", lu_gta_gdf.columns)

lu_gta_gdf.iloc[0].geometry

----- GeoDataFrame loaded
in 127.22 seconds (2.12 minutes)
with 1,490,138 rows
and 13 columns
-- Column names:
 Index(['FID_1', 'PIN', 'SHAPE_Leng', 'SHAPE_Area', 'FID_2', 'OBJECTID',
       'PIN_1', 'municipali', 'LANDUSE', 'LengthM', 'AreaM2', 'Distance',
       'geometry'],
      dtype='object')

In [ ]:
t = time()
lu_ham_gdf = gpd.read_file(ham_lu_path + 'Hparcel16LU10.shp')
elapsed = time() - t

print("----- GeoDataFrame loaded"
      "\nin {0:.2f} seconds ({1:.2f} minutes)".format(elapsed, elapsed / 60) + 
      "\nwith {0:,} rows\nand {1:,} columns"
      .format(lu_ham_gdf.shape[0], lu_ham_gdf.shape[1]) + 
      "\n-- Column names:\n", lu_ham_gdf.columns)

# lu_gta_gdf.plot(); # plotting the whole GeoDataFrame can take a very long time
lu_ham_gdf.iloc[0].geometry

In [ ]:
cols1 = ['FID_1', 'PIN', 'SHAPE_Leng', 'SHAPE_Area', 'FID_2', 'OBJECTID',
       'PIN_1', 'municipali', 'LANDUSE', 'LengthM', 'AreaM2', 'Distance',
       'geometry']
cols2 = ['FID_1', 'PIN', 'SHAPE_Area', 'OBJECTID', 'FID_2', ,
       'PIN_1', 'municipali', 'LANDUSE', 'LengthM', 'AreaM2', 'Distance',
       'geometry']

## Save results to a .csv file

In [15]:
pd.concat([lu_gta_gdf.drop('geometry', axis=1), lu_ham_gdf.drop('geometry', axis=1)])

/home/stepan/anaconda3/envs/gds/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,AreaM2,DEPTH,Distance,FID_1,FID_2,FRONTAGE,ID,LANDUSE,LengthM,OBJECTID,PIN,PIN_1,PROP_CODE,SHAPE_Area,SHAPE_Leng,SITE_AREA,Shape_Ar_1,Shape_Le_1,municipali
0,324.324560,NaN,0.0,0,0.0,NaN,NaN,1.0,87.261191,1,029440218,029440218,NaN,324.324575,87.261185,NaN,NaN,NaN,MARKHAM
1,311.471943,NaN,0.0,1,1.0,NaN,NaN,1.0,86.372900,2,029440066,029440066,NaN,311.471557,86.372818,NaN,NaN,NaN,MARKHAM
2,320.874339,NaN,0.0,2,2.0,NaN,NaN,1.0,88.599591,3,029440067,029440067,NaN,320.873519,88.599487,NaN,NaN,NaN,MARKHAM
3,630.101246,NaN,0.0,3,3.0,NaN,NaN,1.0,105.487687,4,032140190,032140190,NaN,630.097776,105.487638,NaN,NaN,NaN,RICHMOND HILL
4,15379.623971,NaN,0.0,4,4.0,NaN,NaN,28.0,1256.232726,5,032140342,032140342,NaN,15379.624211,1256.232795,NaN,NaN,NaN,RICHMOND HILL
5,5.030936,NaN,0.0,5,7.0,NaN,NaN,28.0,23.678658,8,032050382,032050382,NaN,5.030656,23.678593,NaN,NaN,NaN,RICHMOND HILL
6,5.326077,NaN,0.0,6,8.0,NaN,NaN,28.0,23.727378,9,032050381,032050381,NaN,5.325916,23.727373,NaN,NaN,NaN,RICHMOND HILL
7,683.899879,NaN,0.0,7,9.0,NaN,NaN,1.0,105.200807,10,029440001,029440001,NaN,683.898430,105.200708,NaN,NaN,NaN,MARKHAM
8,526.052300,NaN,0.0,8,10.0,NaN,NaN,1.0,100.099679,11,029440002,029440002,NaN,526.051506,100.099594,NaN,NaN,NaN,MARKHAM
9,470.475911,NaN,0.0,9,11.0,NaN,NaN,1.0,115.772284,12,029440004,029440004,NaN,470.474900,115.772130,NaN,NaN,NaN,MARKHAM
10,324.761334,NaN,0.0,10,12.0,NaN,NaN,1.0,87.283662,13,029440215,029440215,NaN,324.760609,87.283591,NaN,NaN,NaN,MARKHAM
11,324.258196,NaN,0.0,11,13.0,NaN,NaN,1.0,87.147938,14,029440216,029440216,NaN,324.257050,87.147862,NaN,NaN,NaN,MARKHAM
12,324.659086,NaN,0.0,12,14.0,NaN,NaN,1.0,87.174760,15,029440217,029440217,NaN,324.659038,87.174766,NaN,NaN,NaN,MARKHAM
13,4378.735100,NaN,0.0,18,15.0,NaN,NaN,28.0,500.798342,16,032640110,032640110,NaN,4378.728212,500.798219,NaN,NaN,NaN,VAUGHAN
14,25.290529,NaN,0.0,29,16.0,NaN,NaN,28.0,166.679941,17,034500172,034500172,NaN,25.289709,166.679922,NaN,NaN,NaN,EAST GWILLIMBURY
15,6786.178961,NaN,0.0,68,18.0,NaN,NaN,29.0,519.778066,19,036680074,036680074,NaN,6786.179642,519.777847,NaN,NaN,NaN,AURORA
16,78.253841,NaN,0.0,27,19.0,NaN,NaN,1.0,523.585352,20,029580396,029580396,NaN,78.257575,523.585382,NaN,NaN,NaN,MARKHAM
17,90703.088767,NaN,0.0,53,21.0,NaN,NaN,28.0,4278.986652,22,036990578,036990578,NaN,90703.076325,4278.986735,NaN,NaN,NaN,RICHMOND HILL
18,6.936819,NaN,0.0,46,22.0,NaN,NaN,1.0,46.649387,23,033402870,033402870,NaN,6.935881,46.649341,NaN,NaN,NaN,VAUGHAN
19,15.866694,NaN,0.0,47,23.0,NaN,NaN,1.0,106.282458,24,033402871,033402871,NaN,15.866479,106.282384,NaN,NaN,NaN,VAUGHAN
20,84.680388,NaN,0.0,48,24.0,NaN,NaN,28.0,83.963419,25,031790073,031790073,NaN,84.680541,83.963485,NaN,NaN,NaN,RICHMOND HILL
21,1.825395,NaN,0.0,49,25.0,NaN,NaN,28.0,9.932862,26,030430140,030430140,NaN,1.825276,9.932767,NaN,NaN,NaN,MARKHAM
22,2.221172,NaN,0.0,44,26.0,NaN,NaN,1.0,15.609828,27,033402869,033402869,NaN,2.221227,15.609785,NaN,NaN,NaN,VAUGHAN
23,462.891655,NaN,0.0,30,28.0,NaN,NaN,1.0,93.524263,29,033402840,033402840,NaN,462.891668,93.524194,NaN,NaN,NaN,VAUGHAN
24,304.598649,NaN,0.0,31,29.0,NaN,NaN,1.0,81.445664,30,033402833,033402833,NaN,304.599630,81.445734,NaN,NaN,NaN,VAUGHAN
25,405.231419,NaN,0.0,32,30.0,NaN,NaN,1.0,90.887576,31,033402836,033402836,NaN,405.229857,90.887442,NaN,NaN,NaN,VAUGHAN
26,470.484614,NaN,0.0,33,31.0,NaN,NaN,1.0,93.566917,32,033402839,033402839,NaN,470.483203,93.566780,NaN,NaN,NaN,VAUGHAN
27,482.783111,NaN,0.0,34,33.0,NaN,NaN,1.0,95.245564,34,033402838,033402838,NaN,482.783375,95.245536,NaN,NaN,NaN,VAUGHAN
28,411.971136,NaN,0.0,35,34.0,NaN,NaN,1.0,91.913769,35,033402837,033402837,NaN,411.970535,91.913663,NaN,NaN,NaN,VAUGHAN
29,497.957732,NaN,0.0,36,37.0,NaN,NaN,1.0,92.085001,38,033402835,033402835,NaN,497.957876,92.084979,NaN,NaN,NaN,VAUGHAN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174699,NaN,0.0,NaN,174680,NaN,0.0,0.0,NaN,NaN,0,173460278,0,0.0,40470.847575,NaN,0.0,0.0,0.0,NaN
174700,NaN,0.0,NaN,174681,NaN,0.0,0.0,NaN,NaN,0,173460281,0,0.0,190.416805,NaN,0.0,0.0,0.0,NaN
174701,NaN,0.0,NaN,174682,NaN,0.0,0.0,NaN,NaN,0,169120059,0,0.0,3270.236398,NaN,0.0,0.0,0.0,NaN
174702,NaN,0.0,NaN,174683,NaN,0.0,0.0,NaN,NaN,0,169120041,0,0.0,20955.452940,NaN,0.0,0.0,0.0,NaN
174703,NaN,0.0,NaN,174684,NaN,0.0,0.0,NaN,NaN,0,169120002,0,0.0,1568.433469,NaN,0.0,0.0,0.0,NaN
174704,NaN,0.0,NaN,174685,NaN,0.0,0.0,NaN,NaN,0,169120064,0,0.0,9631.933703,NaN,0.0,0.0,0.0,NaN
174705,NaN,0.0,NaN,174686,NaN,0.0,0.0,NaN,NaN,0,169120006,0,0.0,5477.397721,NaN,0.0,0.0,0.0,NaN
174706,NaN,0.0,NaN,174687,NaN,0.0,0.0,NaN,NaN,0,169120060,0,0.0,7951.548038,NaN,0.0,0.0,0.0,NaN
174707,NaN,0.0,NaN,174688,NaN,0.0,0.0,NaN,NaN,0,169120063,0,0.0,1602.715707,NaN,0.0,0.0,0.0,NaN
174708,NaN,0.0,NaN,174689,NaN,0.0,0.0,NaN,NaN,0,169120058,0,0.0,38776.442051,NaN,0.0,0.0,0.0,NaN
174709,NaN,0.0,NaN,174690,NaN,0.0,0.0,NaN,NaN,0,169120061,0,0.0,29030.816949,NaN,0.0,0.0,0.0,NaN
174710,NaN,0.0,NaN,174691,NaN,0.0,0.0,NaN,NaN,0,169120020,0,0.0,1864.786385,NaN,0.0,0.0,0.0,NaN
174711,NaN,0.0,NaN,174692,NaN,0.0,0.0,NaN,NaN,0,169120021,0,0.0,4824.326537,NaN,0.0,0.0,0.0,NaN
174712,NaN,0.0,NaN,174693,NaN,0.0,0.0,NaN,NaN,0,169120062,0,0.0,20311.793569,NaN,0.0,0.0,0.0,NaN
174713,NaN,0.0,NaN,174694,NaN,0.0,0.0,NaN,NaN,0,173471368,0,0.0,9610.558160,NaN,0.0,0.0,0.0,NaN
174714,NaN,0.0,NaN,174695,NaN,0.0,0.0,NaN,NaN,0,173480040,0,0.0,28590.342781,NaN,0.0,0.0,0.0,NaN
174715,NaN,0.0,NaN,174697,NaN,0.0,0.0,NaN,NaN,0,173471045,0,0.0,514.881174,NaN,0.0,0.0,0.0,NaN
174716,NaN,0.0,NaN,174698,NaN,0.0,0.0,NaN,NaN,0,173471678,0,0.0,430.146563,NaN,0.0,0.0,0.0,NaN
174717,NaN,0.0,NaN,174699,NaN,0.0,0.0,NaN,NaN,0,173470445,0,0.0,2580.952282,NaN,0.0,0.0,0.0,NaN
174718,NaN,0.0,NaN,174700,NaN,0.0,0.0,NaN,NaN,0,173560045,0,0.0,26148.393485,NaN,0.0,0.0,0.0,NaN
174719,NaN,0.0,NaN,174701,NaN,0.0,0.0,NaN,NaN,0,173470866,0,0.0,15494.076300,NaN,0.0,0.0,0.0,NaN
174720,NaN,0.0,NaN,174704,NaN,0.0,0.0,NaN,NaN,0,173471679,0,0.0,3412.037676,NaN,0.0,0.0,0.0,NaN
174721,NaN,0.0,NaN,174705,NaN,0.0,0.0,NaN,NaN,0,173570062,0,0.0,93902.005409,NaN,0.0,0.0,0.0,NaN
174722,NaN,0.0,NaN,174706,NaN,0.0,0.0,NaN,NaN,0,173800318,0,0.0,56681.283506,NaN,0.0,0.0,0.0,NaN
174723,NaN,0.0,NaN,174721,NaN,0.0,0.0,NaN,NaN,0,173570063,0,0.0,88065.267087,NaN,0.0,0.0,0.0,NaN
174724,NaN,0.0,NaN,174722,NaN,0.0,0.0,NaN,NaN,0,173470009,0,0.0,4233.863399,NaN,0.0,0.0,0.0,NaN
174725,NaN,0.0,NaN,174724,NaN,0.0,0.0,NaN,NaN,0,172000120,0,0.0,8772.346252,NaN,0.0,0.0,0.0,NaN
174726,NaN,0.0,NaN,174725,NaN,0.0,0.0,NaN,NaN,0,171810201,0,0.0,7805.289888,NaN,0.0,0.0,0.0,NaN
174727,NaN,0.0,NaN,174726,NaN,0.0,0.0,NaN,NaN,0,171810200,0,0.0,1916.682058,NaN,0.0,0.0,0.0,NaN
174728,NaN,0.0,NaN,174728,NaN,0.0,0.0,NaN,NaN,0,171810184,0,0.0,580.747764,NaN,0.0,0.0,0.0,NaN

In [12]:
save_path = gta_lu_path + '../lu_info_gta.csv'
t = time()
lu_gta_gdf.drop('geometry', axis=1).to_csv(save_path, index=False)
elapsed = time() - t
print("DataFrame saved to file:\n", save_path,
      "\ntook {0:.2f} seconds".format(elapsed))

DataFrame saved to file:
 ../../data/teranet/ParcelLandUse/GTA/../lu_info_gta.csv
took 26.22 seconds

In [13]:
save_path = ham_lu_path + '../lu_info_ham.csv'
t = time()
lu_ham_gdf.drop('geometry', axis=1).to_csv(save_path, index=False)
elapsed = time() - t
print("DataFrame saved to file:\n", save_path,
      "\ntook {0:.2f} seconds".format(elapsed))

DataFrame saved to file:
 ../../data/teranet/ParcelLandUse/Halmilton/../lu_info_ham.csv
took 3.12 seconds